.feature{
    border: 2px solid white  ;
    border-radius: 5px;
    margin: 10px;
    background-color: #646c74  ;
    color: white;
    text-align: center;
}

.feature:hover{
    transform: rotateY(360deg);
    transition-duration: 1s;
}

.mdi{
    font-size: 80px;
}

