.registerSection{
    height: 100vh;
}

.registerSection .sidepanel{
    background: url('../../assets/images/onlineStudy.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
    min-height: 800px;
}
